<div class="row justify-content-center">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header bg-white">
        <h1 class="h3 mb-0">Novo Participante</h1>
      </div>
      <div class="card-body">
        <%= render 'form', participant: @participant %>
      </div>
    </div>
  </div>
</div>
